# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv-forecasting/
venv/
env/
*/.venv*/
*/venv*/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and caches
*.log
*.sqlite3
.ipynb_checkpoints
.pytest_cache/
.cache/

# OS files
.DS_Store
Thumbs.db

# Streamlit temp
.streamlit/

# VS Code
.vscode/

